// Root Custom properties.
:root {
  /* font family */
  --kk-font-family: "Noto Sans JP", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, 
                    "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", 
                    Verdana, "メイリオ", Meiryo, sans-serif;
  --kk-font-family-heading: var(--kk-font-family);
  --kk-font-family-code: "BIZ UDGothic", SFMono-Regular, Consolas, "Roboto Mono", "Courier New", 
                         Meiryo, monospace;

  /* font size */
  --kk-font-size-base: 16px;
  --kk-font-size-ss: 0.75rem;
  --kk-font-size-s: 0.875rem;
  --kk-font-size-l: 1.25rem;
  --kk-font-size-xl: 1.5rem;

  /* font color */
  --kk-font-color-base: #333;
  --kk-font-color-light: #888;
  --kk-font-color-superlight: #bbb;
  --kk-font-color-form: var(--kk-font-color-base);
  --kk-font-color-mute: #888;
  --kk-font-color-inverse: #fff;
  --kk-font-color-link: #29f;
  --kk-font-color-warning: #d84;
  --kk-font-color-success: #2b7;
  --kk-font-color-error: #f57;

  /* border */
  --kk-border-color-base: #ddd;
  --kk-border-color-active: #888;
  --kk-border-color-focus: #29f;
  --kk-border-radius-base: 2px 2px;

  /* color */
  --kk-color-normal: #fff;
  --kk-color-dim: #eee;
  --kk-color-primary: #29f;
  --kk-color-primary-active: #07f;
  --kk-color-secondary: #444;
  --kk-color-secondary-active: #222;
  --kk-color-caution: #f33;
  --kk-color-caution-active: #f00;
  --kk-color-select: #eef;
  --kk-color-attention: #feb;

  --kk-color-infomation: #adf;
  --kk-color-infomation-border: #9de;
  --kk-color-infomation-font: #29f;
  --kk-color-success: #afc;
  --kk-color-success-border: #9eb;
  --kk-color-success-font: #2b7;
  --kk-color-warning: #feb;
  --kk-color-warning-border: #eda;
  --kk-color-warning-font: #d84;
  --kk-color-error: #fcd;
  --kk-color-error-border: #ebc;
  --kk-color-error-font: #f57;

  --kk-disabled-color: #fff;
  --kk-disabled-bg-color: #ddd;

  /* height */
  --kk-form-obj-height-s: 24px;
  --kk-form-obj-height-m: 32px;
  --kk-form-obj-height-l: 40px;

  --kk-shadow: 2px 2px 3px 0 rgba(0,0,0,.5);

  /* svg */
  --kk-svg-select: url("data:image/svg+xml,%3Csvg%20width%3D%2211px%22%20height%3D%2211px%22%20version%3D%221.1%22%20viewBox%3D%220%200%2011%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%3Cpath%20d%3D%22m8.7708%205c0.0051811-0.14952-0.080888-0.28982-0.22507-0.36685l-5.5825-2.9741c-0.30973-0.16558-0.7042%200.03264-0.70428%200.35391v5.9481c8.37e-5%200.32127%200.39456%200.5195%200.70428%200.35391l5.5825-2.9741c0.13529-0.072344%200.22004-0.20075%200.22507-0.34098z%22%20fill%3D%22%23888%22%20stroke-width%3D%22.78946%22%2F%3E%0A%3C%2Fsvg%3E%0A");
  --kk-svg-menu: url("data:image/svg+xml,%3Csvg%20width%3D%2211px%22%20height%3D%2211px%22%20version%3D%221.1%22%20viewBox%3D%220%200%2011%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0D%0A%20%3Crect%20x%3D%222%22%20y%3D%228%22%20width%3D%227%22%20height%3D%221%22%20fill%3D%22%23888%22%2F%3E%0D%0A%20%3Crect%20x%3D%222%22%20y%3D%225%22%20width%3D%227%22%20height%3D%221%22%20fill%3D%22%23888%22%2F%3E%0D%0A%20%3Crect%20x%3D%222%22%20y%3D%222%22%20width%3D%227%22%20height%3D%221%22%20fill%3D%22%23888%22%2F%3E%0D%0A%3C%2Fsvg%3E");
  --kk-svg-check: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTYgOWw5LTgtOCAxNC02LTh6IiBmaWxsPSIjZmZmIi8+PC9zdmc+");
  --kk-svg-radio: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTggM2MzIDAgNSAyIDUgNXMtMiA1LTUgNS01LTItNS01IDItNSA1LTV6IiBmaWxsPSIjZmZmIi8+PC9zdmc+");
  --kk-svg-list: url("data:image/svg+xml,%3Csvg%20width%3D%2211px%22%20height%3D%2211px%22%20version%3D%221.1%22%20viewBox%3D%220%200%2011%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20id%3D%22rect3338%22%20d%3D%22M%205.4908703%2C9%20C%205.6452164%2C9.00555%205.7900455%2C8.913389%205.8695593%2C8.7590091%20L%208.9395942%2C2.7815544%20C%209.1105185%2C2.4499121%208.9059008%2C2.0275285%208.57426%2C2.0274389%20H%202.4341902%20C%202.1025498%2C2.0275285%201.897932%2C2.4499121%202.0688562%2C2.7815544%20L%205.1388909%2C8.7590091%20C%205.2135688%2C8.9038728%205.3461182%2C8.9946139%205.4908703%2C9%20Z%22%20fill%3D%22%23888%22%20style%3D%22stroke-width%3A0.829983%22%20%2F%3E%3C%2Fsvg%3E%0D%0A");
  --kk-svg-open: url("data:image/svg+xml,%3Csvg%20width%3D%2211px%22%20height%3D%2211px%22%20version%3D%221.1%22%20viewBox%3D%220%200%2011%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0D%0A%20%3Cpolygon%20points%3D%221%2C1%201%2C3%205.5%2C6%2010%2C3%2010%2C1%205.5%2C4%20%22%20id%3D%22polygon1%22%20fill%3D%22%2329f%22%2F%3E%0D%0A%20%3Cpolygon%20points%3D%221%2C5%201%2C7%205.5%2C10%2010%2C7%2010%2C5%205.5%2C8%20%22%20id%3D%22polygon2%22%20fill%3D%22%2329f%22%2F%3E%0D%0A%3C%2Fsvg%3E");
  --kk-svg-close: url("data:image/svg+xml,%3Csvg%20width%3D%2211px%22%20height%3D%2211px%22%20version%3D%221.1%22%20viewBox%3D%220%200%2011%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0D%0A%20%3Cpolygon%20points%3D%221%2C10%201%2C8%205.5%2C5%2010%2C8%2010%2C10%205.5%2C7%20%22%20id%3D%22polygon1%22%20fill%3D%22%2329f%22%2F%3E%0D%0A%20%3Cpolygon%20points%3D%221%2C6%201%2C4%205.5%2C1%2010%2C4%2010%2C6%205.5%2C3%20%22%20id%3D%22polygon2%22%20fill%3D%22%2329f%22%2F%3E%0D%0A%3C%2Fsvg%3E");
  --kk-svg-toggle: url("data:image/svg+xml,%3Csvg%20width%3D%2211px%22%20height%3D%2211px%22%20version%3D%221.1%22%20viewBox%3D%220%200%2011%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0D%0A%20%20%3Crect%20id%3D%22rect18%22%20width%3D%229%22%20height%3D%229%22%20x%3D%221%22%20y%3D%221%22%20fill%3D%22%2329f%22%2F%3E%0D%0A%3C%2Fsvg%3E");
  --kk-svg-arrow: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTIgMmwxMiA2LTEyIDYgNC02eiIvPjwvc3ZnPg==");
}
