<!--params
    {
        "title":"KUROUTO Kit - Grid",
        "roop12":["1","2","3","4","5","6","7","8","9","10","11","12"]
    }
-->
{{extends "_parts/base.html"}}
{{define "content"}}
<div class="kk-container">
    <h1>Grid</h1>
</div>
<div class="kk-container">
    <h2 class="kk-heading-line"><span class="kk-withsubtext">Grid Column<p>横方向グリッド</p></span></h2>
    <div par>
	    <pre class="kk-codebox" type="dark" title="HTML">
<code></code></pre>
        <div class="kk-container kk-margin-top" style="background-color: white;" grid-col>
            {{range $i, $val := .roop12}}
            <div class="kk-box-dashed kk-align-center kk-col1">{{$val}}</div>
            {{end}}
        </div>
    </div>
</div>

<div class="kk-container">
    <h2 class="kk-heading-line"><span class="kk-withsubtext">Grid Row<p>縦方向グリッド</p></span></h2>
    <div par>
	    <pre class="kk-codebox" type="dark" title="HTML">
<code></code></pre>
        <div class="kk-container kk-margin-top" style="height: 320px; background-color: white;" grid-row>
            {{range $i, $val := .roop12}}
            <div class="kk-box-dashed kk-align-center kk-row1">{{$val}}</div>
            {{end}}
        </div>
    </div>
</div>

<div class="kk-container">
    <h2 class="kk-heading-line"><span class="kk-withsubtext">Grid All<p>全方向グリッド</p></span></h2>
    <div par>
	    <pre class="kk-codebox" type="dark" title="HTML">
<code></code></pre>
        <div class="kk-container kk-margin-top" style="height: 320px; background-color: white;" grid>
        </div>
    </div>
</div>

<div class="kk-container">
    <h2 class="kk-heading-line"><span class="kk-withsubtext">Responsive<p>レスポンシブ</p></span></h2>
    <div par>
	    <pre class="kk-codebox" type="dark" title="HTML">
<code></code></pre>
        <table class="kk-table" theme="hline" style="background-color: white;">
            <thead>
                <tr>
                    <th>CLASS</th>
                    <th>DESCRIPTION</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>.kk-col1@s</td>
                    <td>640px 以上の場合のみ適用</td>
                </tr>
                <tr>
                    <td>.kk-col1@m</td>
                    <td>960px 以上の場合のみ適用</td>
                </tr>
                <tr>
                    <td>.kk-col1@l</td>
                    <td>1200px 以上の場合のみ適用</td>
                </tr>
                <tr>
                    <td>.kk-col1@xl</td>
                    <td>1600px 以上の場合のみ適用</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<br><br><br>
{{end}}