<!--params
    {
        "title":"KUTOUTO Kit - Grid",
        "roop10":["1","2","3","4","5","6","7","8","9","10"]
    }
-->
{{extends "_parts/base.html"}}
{{define "content"}}
<div class="kk-container-m">
    <h1>Grid</h1>
</div>
<div class="kk-container-m">
    <h2 class="kk-heading-line"><span class="kk-withsubtext">Grid Column<p>横方向グリッド</p></span></h2>
    <div par>
	    <pre class="kk-codebox" type="dark" title="HTML">
<code>&lt;div class=&quot;kk-container-m kk-margin-top&quot; grid-col&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-col1&quot;&gt;1&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-col1&quot;&gt;2&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-col1&quot;&gt;3&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-col1&quot;&gt;4&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-col1&quot;&gt;5&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-col1&quot;&gt;6&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-col1&quot;&gt;7&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-col1&quot;&gt;8&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-col1&quot;&gt;9&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-col1&quot;&gt;10&lt;/div&gt;
&lt;/div&gt;</code></pre>
        <div class="kk-container-m kk-margin-top" grid-col>
            {{range $i, $val := .roop10}}
            <div class="kk-box-dashed kk-align-center kk-col1">{{$val}}</div>
            {{end}}
        </div>
    </div>
</div>

<div class="kk-container-m">
    <h2 class="kk-heading-line"><span class="kk-withsubtext">Grid Row<p>縦方向グリッド</p></span></h2>
    <div par>
	    <pre class="kk-codebox" type="dark" title="HTML">
<code>&lt;div class=&quot;kk-container-m kk-margin-top&quot; style=&quot;height: 320px;&quot; grid-row&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-row1&quot;&gt;1&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-row1&quot;&gt;2&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-row1&quot;&gt;3&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-row1&quot;&gt;4&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-row1&quot;&gt;5&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-row1&quot;&gt;6&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-row1&quot;&gt;7&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-row1&quot;&gt;8&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-row1&quot;&gt;9&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-row1&quot;&gt;10&lt;/div&gt;
&lt;/div&gt;</code></pre>
        <div class="kk-container-m kk-margin-top" style="height: 320px;" grid-row>
            {{range $i, $val := .roop10}}
            <div class="kk-box-dashed kk-align-center kk-row1">{{$val}}</div>
            {{end}}
        </div>
    </div>
</div>

<div class="kk-container-m">
    <h2 class="kk-heading-line"><span class="kk-withsubtext">Grid All<p>全方向グリッド</p></span></h2>
    <div par>
	    <pre class="kk-codebox" type="dark" title="HTML">
<code>&lt;div class=&quot;kk-container-m kk-margin-top&quot; style=&quot;height: 320px;&quot; grid&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-col1&quot;&gt;col1&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-col9&quot;&gt;col9&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-col2&quot;&gt;col2&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-col7&quot;&gt;col7&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-row9&quot;&gt;row9&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-col8&quot;&gt;col8&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-row8&quot;&gt;row8&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-col3&quot;&gt;col3&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-col4&quot;&gt;col4&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-row7&quot;&gt;row7&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-col6&quot;&gt;col6&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-row6&quot;&gt;row6&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-col3 kk-row5&quot;&gt;col3 and row5&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-row2&quot;&gt;row2&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-row1&quot;&gt;row1&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-row5&quot;&gt;row5&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-row4&quot;&gt;row4&lt;/div&gt;
    &lt;div class=&quot;kk-box-dashed kk-align-center kk-row3&quot;&gt;row3&lt;/div&gt;
&lt;/div&gt;</code></pre>
        <div class="kk-container-m kk-margin-top" style="height: 320px;" grid>
            <div class="kk-box-dashed kk-align-center kk-col1">col1</div>
            <div class="kk-box-dashed kk-align-center kk-col9">col9</div>

            <div class="kk-box-dashed kk-align-center kk-col2">col2</div>
            <div class="kk-box-dashed kk-align-center kk-col7">col7</div>
            <div class="kk-box-dashed kk-align-center kk-row9">row9</div>

            <div class="kk-box-dashed kk-align-center kk-col8">col8</div>
            <div class="kk-box-dashed kk-align-center kk-row8">row8</div>

            <div class="kk-box-dashed kk-align-center kk-col3">col3</div>
            <div class="kk-box-dashed kk-align-center kk-col4">col4</div>
            <div class="kk-box-dashed kk-align-center kk-row7">row7</div>

            <div class="kk-box-dashed kk-align-center kk-col6">col6</div>
            <div class="kk-box-dashed kk-align-center kk-row6">row6</div>

            <div class="kk-box-dashed kk-align-center kk-col3 kk-row5">col3 and row5</div>
            <div class="kk-box-dashed kk-align-center kk-row2">row2</div>
            <div class="kk-box-dashed kk-align-center kk-row1">row1</div>
            <div class="kk-box-dashed kk-align-center kk-row5">row5</div>

            <div class="kk-box-dashed kk-align-center kk-row4">row4</div>

            <div class="kk-box-dashed kk-align-center kk-row3">row3</div>
        </div>
    </div>
</div>
<br><br><br>
{{end}}