<!--params
    {
        "title":"KUTOUTO Kit - Grid",
        "col1_10":["1","2","3","4","5","6","7","8","9","10"],
        "row2_10":["2","3","4","5","6","7","8","9","10"]
    }
-->
{{extends "_parts/base.html"}}
{{define "content"}}
<div class="kk-container-m">
	<h1>Grid</h1>
	<pre class="kk-codebox" type="dark" title="CSS">
<code>&lt;div class=&quot;kk-container-s kk-margin-top&quot;&gt;
    &lt;div class=&quot;kk-box kk-text-center&quot; style=&quot;background-color: yellow;&quot;&gt;
        kk-container-s (max-width: 720px)
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;kk-container-m kk-margin-top&quot;&gt;
    &lt;div class=&quot;kk-box kk-text-center&quot; style=&quot;background-color: yellow;&quot;&gt;
        kk-container-m (max-width:1200px)
    &lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;kk-container-l kk-margin-top&quot;&gt;
    &lt;div class=&quot;kk-box kk-text-center&quot; style=&quot;background-color: yellow;&quot;&gt;
        kk-container-l (max-width:1600px)
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
</div>

<div class="kk-container-m kk-margin-top" style="height: 360px;" grid>
    {{range $i, $val := .col1_10}}
    <div class="kk-box kk-align-center kk-col1 kk-col-margin-r1" style="border-style: dashed;">
        {{$val}}
    </div>
    {{end}}
    {{range $i, $val := .row2_10}}
    <div class="kk-box kk-align-center kk-col1" style="border-style: dashed;">
        {{$val}}
    </div>
    <div class="kk-col9"></div>
    {{end}}
</div>

<div class="kk-container-m kk-margin-top" style="height: 460px;" grid>
    <div class="kk-box kk-align-center kk-col1" style="border-style: dashed;">col1</div>
    <div class="kk-box kk-align-center kk-col9" style="border-style: dashed;">col9</div>

    <div class="kk-box kk-align-center kk-col2" style="border-style: dashed;">col2</div>
    <div class="kk-box kk-align-center kk-col7" style="border-style: dashed;">col7</div>
    <div class="kk-box kk-align-center kk-row9" style="border-style: dashed;">row9</div>

    <div class="kk-box kk-align-center kk-col8" style="border-style: dashed;">col8</div>
    <div class="kk-box kk-align-center kk-row8" style="border-style: dashed;">row8</div>

    <div class="kk-box kk-align-center kk-col3" style="border-style: dashed;">col3</div>
    <div class="kk-box kk-align-center kk-col4" style="border-style: dashed;">col4</div>
    <div class="kk-box kk-align-center kk-row7" style="border-style: dashed;">row7</div>

    <div class="kk-box kk-align-center kk-col6" style="border-style: dashed;">col6</div>
    <div class="kk-box kk-align-center kk-row6" style="border-style: dashed;">row6</div>

    <div class="kk-box kk-align-center kk-col3 kk-row5" style="border-style: dashed;"></div>
    <div class="kk-box kk-align-center kk-row2" style="border-style: dashed;">row2</div>
    <div class="kk-box kk-align-center kk-row1" style="border-style: dashed;">row1</div>
    <div class="kk-box kk-align-center kk-row5" style="border-style: dashed;">row5</div>

    <div class="kk-box kk-align-center kk-row4" style="border-style: dashed;">row4</div>

    <div class="kk-box kk-align-center kk-row3" style="border-style: dashed;">row3</div>
</div>

{{end}}