@use "../common/variables" as v;
/* Grid. */

[grid], [grid-col], [grid-row],
.kk-grid, .kk-grid-col, .kk-grid-row {
  display: grid;
}

[grid], [grid-col],
.kk-grid, .kk-grid-col {
  grid-template-columns: repeat(12, calc(100% / 12));
}

[grid-col], .kk-grid-col {
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
}

[grid], [grid-row],
.kk-grid, .kk-grid-row {
  grid-template-rows: repeat(12, calc(100% / 12));
}

[grid-row], .kk-grid-row {
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
}

[cell],
.kk-cell {
  padding: 0.25rem;
}

@for $i from 1 through 12 {
  .kk-col#{$i} {grid-column: span $i; }
}

@for $i from 1 through 12 {
  .kk-row#{$i} {grid-row: span $i; }
}

@media (min-width: v.$min-width-s) {
  @for $i from 1 through 12 {
    .kk-col#{$i}\@s  { grid-column: span $i; }
  }
}
@media (min-width: v.$min-width-m) {
  @for $i from 1 through 12 {
    .kk-col#{$i}\@m  { grid-column: span $i; }
  }
}
@media (min-width: v.$min-width-l) {
  @for $i from 1 through 12 {
    .kk-col#{$i}\@l  { grid-column: span $i; }
  }
}
@media (min-width: v.$min-width-xl) {
  @for $i from 1 through 12 {
    .kk-col#{$i}\@xl  { grid-column: span $i; }
  }
}