@use "../common/variables" as v;
@use "../common/mixin" as m;
/* Grid. */

[grid], [grid-col], [grid-row],
.kk-grid, .kk-grid-col, .kk-grid-row {
  display: grid;
}

[grid], [grid-col],
.kk-grid, .kk-grid-col {
  grid-template-columns: repeat(12, calc(100% / 12));
}

[grid-col], .kk-grid-col {
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
}

[grid], [grid-row],
.kk-grid, .kk-grid-row {
  grid-template-rows: repeat(12, calc(100% / 12));
}

[grid-row], .kk-grid-row {
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
}

[cell],
.kk-cell {
  padding: 0.25rem;
}

@each $sfx in null, \@s, \@m, \@l, \@xl {
  @include m.min-width($sfx) {
    @for $i from 1 through 12 {
      .kk-col#{$i}#{$sfx}  { grid-column: span $i; }
    }
  }
}

@for $i from 1 through 12 {
  .kk-row#{$i} {grid-row: span $i; }
}
