/* Grid. */
[grid], [grid-col], [grid-row],
.kk-grid, .kk-grid-col, .kk-grid-row {
  display: grid;
}
[grid], [grid-col],
.kk-grid, .kk-grid-col {
  grid-template-columns: repeat(12, calc(100% / 12));
}
[grid-col], .kk-grid-col {
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
}
[grid], [grid-row],
.kk-grid, .kk-grid-row {
  grid-template-rows: repeat(12, calc(100% / 12));
}
[grid-row], .kk-grid-row {
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
}
[cell],
.kk-cell {
  padding: 0.25rem;
}
.kk-col1  { grid-column: span 1; }
.kk-col2  { grid-column: span 2; }
.kk-col3  { grid-column: span 3; }
.kk-col4  { grid-column: span 4; }
.kk-col5  { grid-column: span 5; }
.kk-col6  { grid-column: span 6; }
.kk-col7  { grid-column: span 7; }
.kk-col8  { grid-column: span 8; }
.kk-col9  { grid-column: span 9; }
.kk-col10 { grid-column: span 10; }
.kk-col11 { grid-column: span 11; }
.kk-col12 { grid-column: span 12; }
.kk-row1  { grid-row: span 1; }
.kk-row2  { grid-row: span 2; }
.kk-row3  { grid-row: span 3; }
.kk-row4  { grid-row: span 4; }
.kk-row5  { grid-row: span 5; }
.kk-row6  { grid-row: span 6; }
.kk-row7  { grid-row: span 7; }
.kk-row8  { grid-row: span 8; }
.kk-row9  { grid-row: span 9; }
.kk-row10 { grid-row: span 10; }
.kk-row11 { grid-row: span 11; }
.kk-row12 { grid-row: span 12; }
@media (min-width: 640px) {
  .kk-col1\@s  { grid-column: span 1; }
  .kk-col2\@s  { grid-column: span 2; }
  .kk-col3\@s  { grid-column: span 3; }
  .kk-col4\@s  { grid-column: span 4; }
  .kk-col5\@s  { grid-column: span 5; }
  .kk-col6\@s  { grid-column: span 6; }
  .kk-col7\@s  { grid-column: span 7; }
  .kk-col8\@s  { grid-column: span 8; }
  .kk-col9\@s  { grid-column: span 9; }
  .kk-col10\@s { grid-column: span 10; }
  .kk-col11\@s { grid-column: span 11; }
  .kk-col12\@s { grid-column: span 12; }
}
@media (min-width: 960px) {
  .kk-col1\@m  { grid-column: span 1; }
  .kk-col2\@m  { grid-column: span 2; }
  .kk-col3\@m  { grid-column: span 3; }
  .kk-col4\@m  { grid-column: span 4; }
  .kk-col5\@m  { grid-column: span 5; }
  .kk-col6\@m  { grid-column: span 6; }
  .kk-col7\@m  { grid-column: span 7; }
  .kk-col8\@m  { grid-column: span 8; }
  .kk-col9\@m  { grid-column: span 9; }
  .kk-col10\@m { grid-column: span 10; }
  .kk-col11\@m { grid-column: span 11; }
  .kk-col12\@m { grid-column: span 12; }
}
@media (min-width: 1200px) {
  .kk-col1\@l  { grid-column: span 1; }
  .kk-col2\@l  { grid-column: span 2; }
  .kk-col3\@l  { grid-column: span 3; }
  .kk-col4\@l  { grid-column: span 4; }
  .kk-col5\@l  { grid-column: span 5; }
  .kk-col6\@l  { grid-column: span 6; }
  .kk-col7\@l  { grid-column: span 7; }
  .kk-col8\@l  { grid-column: span 8; }
  .kk-col9\@l  { grid-column: span 9; }
  .kk-col10\@l { grid-column: span 10; }
  .kk-col11\@l { grid-column: span 11; }
  .kk-col12\@l { grid-column: span 12; }
}
@media (min-width: 1600px) {
  .kk-col1\@xl  { grid-column: span 1; }
  .kk-col2\@xl  { grid-column: span 2; }
  .kk-col3\@xl  { grid-column: span 3; }
  .kk-col4\@xl  { grid-column: span 4; }
  .kk-col5\@xl  { grid-column: span 5; }
  .kk-col6\@xl  { grid-column: span 6; }
  .kk-col7\@xl  { grid-column: span 7; }
  .kk-col8\@xl  { grid-column: span 8; }
  .kk-col9\@xl  { grid-column: span 9; }
  .kk-col10\@xl { grid-column: span 10; }
  .kk-col11\@xl { grid-column: span 11; }
  .kk-col12\@xl { grid-column: span 12; }
}