/* Padding. */
.kk-padding-ss { padding: 0.25rem !important; }
.kk-padding-s { padding: 0.5rem !important; }
.kk-padding,
.kk-padding-m { padding: 1.0rem !important; }
.kk-padding-l { padding: 2.0rem !important; }
.kk-padding-leftl { padding: 1.0rem 1.0rem 1.0rem 2.0rem !important; }
.kk-padding-rm { padding: 0 !important; }
@media (min-width: 640px) {
  .kk-padding-s\@s { padding: 0.5rem !important; }
  .kk-padding\@s,
  .kk-padding-m\@s { padding: 1.0rem !important; }
  .kk-padding-l\@s { padding: 2.0rem !important; }
  .kk-padding-leftl\@s { padding: 1.0rem 1.0rem 1.0rem 2.0rem !important; }
}
@media (min-width: 960px) {
  .kk-padding-s\@m { padding: 0.5rem !important; }
  .kk-padding\@m,
  .kk-padding-m\@m { padding: 1.0rem !important; }
  .kk-padding-l\@m { padding: 2.0rem !important; }
  .kk-padding-leftl\@m { padding: 1.0rem 1.0rem 1.0rem 2.0rem !important; }
}
@media (min-width: 1200px) {
  .kk-padding-s\@l { padding: 0.5rem !important; }
  .kk-padding\@l,
  .kk-padding-m\@l { padding: 1.0rem !important; }
  .kk-padding-l\@l { padding: 2.0rem !important; }
  .kk-padding-leftl\@l { padding: 1.0rem 1.0rem 1.0rem 2.0rem !important; }
}
