@use "../common/variables" as v;
@use "../common/mixin" as m;
/* Padding. */

@each $sfx in null, \@s, \@m, \@l {
  @include m.min-width($sfx) {
    .kk-padding-ss#{$sfx} { padding: 0.25rem !important; }
    .kk-padding-s#{$sfx} { padding: 0.5rem !important; }
    .kk-padding#{$sfx}, .kk-padding-m#{$sfx} { padding: 1.0rem !important; }
    .kk-padding-l#{$sfx} { padding: 2.0rem !important; }
    .kk-padding-leftl#{$sfx} { padding: 1.0rem 1.0rem 1.0rem 2.0rem !important; }
    .kk-padding-rm#{$sfx} { padding: 0 !important; }
  }
}
