/* Table. */
.kk-table {
  width: 100%;
  border-spacing: 0;

  caption {
    color: var(--kk-font-color-light);
    margin-bottom: 0.5em;
    text-align: left;
    text-decoration: underline;
  }
  th, td {
    padding: 0.25em 0.5em;
  }
  th {
    color: var(--kk-font-color-light);
    font-weight: normal;
    text-align: left;
  }
  &>thead[center] th {
    text-align: center;
  }
  &[theme="hline"] th, &[theme="cross"] th {
    border-bottom: 3px double var(--kk-border-color-base);
  }
  &[theme="hline"] tr:not(:first-child)>td, &[theme="cross"] tr:not(:first-child)>td {
    border-top: 1px solid var(--kk-border-color-base);
  }
  &[theme="cross"] th:not(:first-child), &[theme="cross"] td:not(:first-child) {
    border-left: 1px solid var(--kk-border-color-base);
  }
  &[hover]>tbody>tr:hover {
    background-color: var(--kk-color-select);
  }
}
