/* Accordion. */
.kk-accordion {
  cursor: pointer;
}
.kk-accordion[theme="icon"]::before {
  content: "";
  background-color: var(--kk-font-color-superlight);
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 4px;
  margin-top: auto;
  margin-bottom: auto;
  mask: var(--kk-svg-arrow);
  transform: rotate(90deg);
  transition: .3s;
}
.kk-accordion[theme="icon"][closed]::before {
  transform: none;
}
.kk-accordion+* {
  transition: height .3s;
  overflow-y: hidden;
}
.kk-accordion[closed]+* {
  height: 0;
}
.kk-accordion > * {
  pointer-events: none;
}